form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    width: 100%;
    background-color: #F6F7FC;
    padding: 10px 15px;
    border-radius: 40px;
    border-width: 0px;
}

textarea {
    background-color: #F6F7FC;
    padding: 10px 15px;
    border-radius: 20px;
    border-width: 0px;
}

button {
    width: 130px;
    height: 50px;
    background-color: #FE9D52;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-top: 10px;
    border-radius: 40px;
    border-width: 0px;
    opacity: 1;
}

button:hover {
    transition-property: opacity;
    opacity: 0.8;
}

@media (max-width: 500px) {
    button{
        font-size: 12px;
        width: 150px;
        height: 35px;
    }
}

.name-box {
    width: 100%;
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 500px) {
    .name-box {
        flex-direction: column;
    }
}

.name {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.surname {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .name, .surname {
        width: 100%;
        margin-top: 20px;
    }
}

.m-top20 {
    margin-top: 20px;
}