main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 90px; 
}
@media (max-width: 1000px) {
    main {
        margin-top: 0px; 

    }
}
blockquote {
    padding: 50px 0;
}

/* Presentation starts here */

.column-section {
    width: 100%;
    height: 80vh;
    margin-top: 80px;
    display: flex;
    flex-direction: row;   
    align-items: flex-end;
}

@media (max-width: 1000px) {
    .column-section {
        height: 100vh;
        flex-direction: column;
        align-items: center; 
        margin-top: 0px;
    }
}

.about {
    height: 100%;
    width: 80%;
    padding: 20px 70px 20px 140px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .about {
        padding: 0;
        text-align: center;
    }
}

.p-highlight {
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0;
}

@media (max-width: 500px) {
    .p-highlight {
        font-size: 20px;
    }
}

.h1-about {
    color: #FE9D52;
    padding: 10px 0 25px;
}

.description-about {
    font-weight: 300;
    padding: 15px 0;
    line-height: 1.6;
}

.button-box {
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 1000px) {
    .button-box {
        justify-content: center ;
    }
}

.button-about {
    background-color:#FE9D52;
    color: white;
    font-size: 16px;
    font-weight: 500;
    width: 200px;
    height: 50px;
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 40px;
    opacity: 1;
}

@media (max-width: 500px) {
    .button-about {
        font-size: 12px;
        width: 150px;
        height: 35px;
    }
}

.button-about:hover {
    transition-property: opacity;
    opacity: 0.8;
}

.button-about:active {
    box-shadow: 0 0 20px #FE9D52;
}

.about-img {
    height: 100%;
    padding-left: 30px ;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .about-img {
        justify-content: center ;
        align-items: center;
        height: 50%;
    }
}

.image-class {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
}

/* Knowledges' section starts here */

.knowledges {
    background-color: #F6F7FC;
    padding: 110px 40px;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 10px 0;
    margin: 20px 0;
}

@media (max-width: 500px) {
    .title {
        margin: 0px;
        padding-top: 10px;
        text-align: center;
    }
}

.knowledges-text {
    padding: 30px 0;
    line-height: 1.6;
    max-width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
}

.cards-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 170px;
    padding: 45px 0;
}

@media (max-width: 500px) {
    .cards-skills {
        padding: 0px;
    }
}

.skills {
    width: 260px;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #DDDFE5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.skills:hover {
    transition-property: all;
    color: #FE9D52;
    border: 1px solid #FE9D52;
}

@media (max-width: 500px) {
    .skills {
        width: 180px;
    }
}

.p-skills {
    padding-top: 20px;
    font-weight: 700;
}

.html {
    color: #E54D27;
}

.css {
    color: #3D8FC6
}

.sass {
    color: #CC6699
}

.jS {
    color: #EFDB4F
}

.react {
    color: #61DAFB;
}

.git {
    color: #F34F29
}

/* Quote section from here*/

.quote {
    background-color: #FE9D52;
}

.quote-content {
    max-width: 800px;
    flex-direction: column;
}
.quotation-marks {
    font-size: 100px;
    color: white;
    display: flex;
}

@media (max-width: 500px) {
    .quotation-marks {
        font-size: 40px;
    }
}

.p-quote {
    color: white;
    line-height: 30px;
    text-align: center;
}

.person-name {
    color: white;
    font-weight: 700;
    text-align: center;
}

/* Projects ection */

.padding-30 {
    padding: 30px 0;
}

.project-content {
    flex-direction: column;
    width: 400px;
    text-align: center;
    line-height: 30px;
}

.p-project {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 30px 0;
    margin: 20px 0;
}

.align-column {
    display: flex;
    flex-direction: column
}

.cards-projects {
    padding: 0 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects {
    width: 330px;
    height: 330px;
    border: 1px solid grey;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 1px solid #DDDFE5;
    text-align: center;
    font-weight: 500;
}

.projects:hover {
    transition-property: border;
    border: 1px solid #FE9D52;
}

.projects a{
    color: BLACK;
} 

.projects a:hover {
    transition-property: color;
    color: #FE9D52;
}

.projects-img {
    height: 80%;
    width: 100%;
    padding: 30px;
}

/* Here start the contact section*/

.contact {
    background-color: #F6F7FC;
}

.contact-box {
    background-color: white;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #DDDFE5;
    padding: 40px 60px;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 500px) {
    .contact-box {
        flex-direction: column;
        padding: 20px 30px;
        width: 90%;

    }
}

.contact1 {
    width: 50%;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    .contact1, .contact2 {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 30px;
    }
}

.p-contact {
    margin-bottom: 40px;
    line-height: 1.6;
    width: 90%;
}

@media (max-width: 500px) {
    .p-contact {
        margin-bottom: 30px;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
}

.rrss {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center; 
}

.icon-main {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    color: #FE9D52;
    background-color: transparent;
    font-weight: 500;
    line-height: 40px;
    border-radius: 50%;
}

@media (max-width: 500px) {
    .icon-main {
        padding-top: 10px;
    }
}

.icon-main:hover {
    transition-property: all;
    background-color: #FE9D52;
    border-radius: 50%;
    color: white;
}

.p-contact-rrss {
    margin-left: 10px;
}

.contact2 {
    width: 50%;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    .contact2 {
        width: 100%;
        padding-left: 0px;
    }
}